@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    margin: 0 !important;
    font-family: 'Itim', cursive !important;
}

/* style navbar*/

.nav-desc {
    font-weight: bold;
    font-size: 18px;
}

span {
    font-weight: 300 !important;
}

#saldo {
    color: #117b2b
}

/* style game container */

#canvasContainer {
    position: relative;
    margin-left: 2em;
}

#canvas {
    margin: 2em;
    margin: auto !important;
    display: block !important;
    width: 300px;
    height: 300px;
}

#prizePointer {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -2em;
}

.btn-game {
    border: 1px solid rgb(22, 107, 18) !important;
}

/* medias queries */

@media (max-width: 563px) {
    #canvasContainer {
        display: block !important;
        margin-top:4em !important
    }
}